In [3]:
import pandas as pd
from pyquaternion import Quaternion

In [9]:
df = pd.read_csv("../../dataset/S01-A05-T01.csv")
df.head()

,qBACK_w,qBACK_x,qBACK_y,qBACK_z,qRUA_w,qRUA_x,qRUA_y,qRUA_z,qRLA_w,qRLA_x,qRLA_y,qRLA_z,qLUA_w,qLUA_x,qLUA_y,qLUA_z,qLLA_w,qLLA_x,qLLA_y,qLLA_z
0,0.6014,0.2221,-0.6933,0.3293,0.0494,0.6191,-0.1550,0.7682,0.5316,-0.1823,0.1017,-0.8209,0.6567,-0.079,-0.6386,-0.3933,0.3412,0.0865,-0.4195,-0.8367
1,0.6014,0.2221,-0.6932,0.3292,0.0494,0.6191,-0.1550,0.7682,0.5316,-0.1823,0.1017,-0.8209,0.6567,-0.079,-0.6386,-0.3933,0.3412,0.0866,-0.4196,-0.8367
2,0.6014,0.2221,-0.6932,0.3292,0.0494,0.6191,-0.1550,0.7683,0.5316,-0.1822,0.1019,-0.8209,0.6568,-0.079,-0.6385,-0.3932,0.3412,0.0867,-0.4196,-0.8367
3,0.6015,0.2221,-0.6932,0.3292,0.0494,0.6190,-0.1552,0.7684,0.5316,-0.1822,0.1019,-0.8209,0.6568,-0.079,-0.6385,-0.3932,0.3412,0.0867,-0.4195,-0.8367
4,0.6015,0.2221,-0.6932,0.3292,0.0494,0.6190,-0.1552,0.7684,0.5316,-0.1821,0.1019,-0.8209,0.6568,-0.079,-0.6385,-0.3932,0.3412,0.0867,-0.4195,-0.8367

In [5]:
df = df['qBACK_w']

SyntaxError: invalid syntax (2561043232.py, line 1)